.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 5px;

}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #60a5fa;
    color: #FFFFFF;
}

.sidebar > div {
    padding-bottom: 40px;
}




.dash {
    display: flex;
}



.side-block-1 div {
    display: flex;
    margin-left: 20px;
}

.side-block-2 div {
    display: flex;
    margin-left: 20px;
}

.header {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: #bfdbfe;
}

.name-buttons {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: #bfdbfe;
}

.main {
    display: grid;
    grid-column:  2 / 3;
    background-color: #eff6ff;

}

.announce {
    display: grid;
    grid-column:  3 / 4;
    background-color: #eff6ff;

}

button {
    width: 100px;
    background-color: #60a5fa;
    border-radius: 5px;
    border: none;
}